<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn_fzFdeNBdwLSBb9D7q3139cZ8NHRjA4</string>
	<key>GCM_SENDER_ID</key>
	<string>132466580752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleaningApp</string>
	<key>PROJECT_ID</key>
	<string>clean-app-11c2b</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-app-11c2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132466580752:ios:c03a08943fecbbd82e5995</string>
</dict>
</plist>